<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapbar.traceserver.mapper.TraceServiceMapper">
	<resultMap type="com.mapbar.traceserver.model.TraceService" id="traceService">
		<id property="serviceId" column="service_id" jdbcType="VARCHAR" />
		<result property="serviceName" column="service_name" jdbcType="VARCHAR" />
		<result property="createTime" column="create_time" jdbcType="VARCHAR" />
		<result property="serviceDesc" column="service_desc" jdbcType="VARCHAR" />
		<result property="serviceTable" column="service_table" jdbcType="VARCHAR" />
	</resultMap>
</mapper>